@media (max-width: 400px) {
  .creating-a-task__input {
    font-size: 11px;
    padding: 11px;
  }
  .creating-a-task__btn {
    font-size: 10px;
    padding: 11px;
  }
  .tasks__text-title {
    font-size: 10px;
  }
  .tasks__empty-text {
    font-size: 11px;
  }
  .tasks__text-counter {
    font-size: 9px;
  }
  .tasks__item-text {
    font-size: 10px;
  }
  .tasks__item {
    padding: 11px;
  }
}